<template>
    <HeaderComponent></HeaderComponent>
    <router-view></router-view> 
</template>

<script>
import HeaderComponent from "./components/HeaderComponent";

export default {
    components: {
        HeaderComponent
    }
}
</script>

